@import "./variables.scss";

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-70 {
    width: 70%;
}

.w-100 {
    width: 100%;
}

.w-100vw {
    width: 100vw;
}

.w-16p {
    width: 16px;
}

.w-24p {
    width: 24px;
}

.w-32p {
    width: 32px;
}

.w-40p {
    width: 40px;
}

.w-50p {
    width: 50px;
}

.w-100p {
    width: 100px;
}

.w-150p {
    width: 150px;
}

.w-200p {
    width: 200px;
}

.w-250p {
    width: 250px;
}

.w-300p {
    width: 300px;
}

.w-500p {
    width: 500px;
}

.w-auto {
    width: auto;
}

.w-fit {
    width: fit-content;
}

.mx-w-100 {
    max-width: 100%;
}

.mx-w-280p {
    max-width: 280px;
}

.mx-w-928p {
    max-width: 928px;
}

.mx-w-1440p {
    max-width: 1440px;
}

.mn-w-50p {
    min-width: 50px;
}

.mn-w-80p {
    min-width: 80px;
}

.mn-w-100p {
    min-width: 100px;
}

.mn-w-100 {
    min-width: 100%;
}

.h-fit {
    height: fit-content;
}

.h-auto {
    height: auto;
}

.h-16p {
    height: 16px;
}

.h-20p {
    height: 20px;
}

.h-24p {
    height: 24px;
}

.h-32p {
    height: 32px;
}

.h-40p {
    height: 40px;
}

.h-48p {
    height: 48px;
}

.h-50p {
    height: 50px;
}

.h-80p {
    height: 80px;
}

.h-50 {
    height: 50%;
}

.h-80 {
    height: 80%;
}

.h-100 {
    height: 100%;
}

.h-134p {
    height: 134px;
}

.h-150p {
    height: 150px;
}

.h-200p {
    height: 200px;
}

.h-250p {
    height: 250px;
}

.h-300p {
    height: 300px;
}

.h-350p {
    height: 350px;
}

.h-600p {
    height: 600px;
}

.h-100vh {
    height: 100vh;
}

.mn-h-100vh {
    min-height: 100vh;
}

.mx-h-200p {
    max-height: 300px;
}

.mx-h-100 {
    max-height: 100%;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
}

.top-0 {
    top: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.top-50 {
    top: 50%;
}

.bottom-50 {
    bottom: 50%;
}

.left-50 {
    left: 50%;
}

.right-50 {
    right: 50%;
}

/* Flexbox */
.d-none {
    display: none;
}

// Visible only on large screens
.d-none.d-xl-block {
    display: block;

    @include media-breakpoint-down(lg) {
        display: none;
    }
}

// Visible only on medium screens
.d-none.d-md-block.d-xl-none {
    display: none;

    @include media-breakpoint-between(sm, lg) {
        display: block;
    }
}

// Visible only on small screens
.d-block.d-md-none {
    display: none;

    @include media-breakpoint-down(sm) {
        display: block;
    }
}

// Visible from small to up
.d-none.d-sm-block {
    display: none;

    @include media-breakpoint-up(sm) {
        display: block;
    }
}

// Visible until medium screens
.d-none.d-md-block {
    display: none;

    @include media-breakpoint-down(md) {
        display: block;
    }
}

// Non-visible until medium screens
.d-block.d-md-none {
    display: block;

    @include media-breakpoint-down(md) {
        display: none;
    }
}

// Visible until large screens
.d-block.d-lg-none {
    display: none;

    @include media-breakpoint-down(lg) {
        display: block;
    }
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-inline-flex {
    display: inline-flex;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-auto {
    flex: 1 1 auto;
}

.flex-full {
    flex: 1 1 100%;
}

.flex-1 {
    flex: 1;
}

.flex-grow-0 {
    flex-grow: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

.gap-0 {
    gap: 0;
    grid-gap: 0;
}

.gap-0-25 {
    gap: 0.25rem;
    grid-gap: 0.25rem;
}

.gap-0-375 {
    gap: 0.375rem;
    grid-gap: 0.375rem;
}

.gap-0-5 {
    gap: 0.5rem;
    grid-gap: 0.5rem;
}

.gap-0-75 {
    gap: 0.75rem;
    grid-gap: 0.75rem;
}

.gap-1 {
    gap: 1rem;
    grid-gap: 1rem;
}

.gap-1-25 {
    gap: 1.25rem;
    grid-gap: 1.25rem;
}

.gap-1-5 {
    gap: 1.5rem;
    grid-gap: 1.5rem;
}

.gap-1-75 {
    gap: 1.75rem;
    grid-gap: 1.75rem;
}

.gap-2 {
    gap: 2rem;
    grid-gap: 2rem;
}

.gap-2-5 {
    gap: 2.5rem;
    grid-gap: 2.5rem;
}

.gap-3 {
    gap: 3rem;
    grid-gap: 3rem;
}

.gap-4 {
    gap: 4rem;
    grid-gap: 4rem;
}

.gap-4-75 {
    gap: 4.75rem;
    grid-gap: 4.75rem;
}

.gap-5 {
    gap: 5rem;
    grid-gap: 5rem;
}

.gap-6 {
    gap: 6rem;
    grid-gap: 6rem;
}

.gap-6-5 {
    gap: 6.5rem;
    grid-gap: 6.5rem;
}

.gap-less-22 {
    margin-left: -11px;
    margin-right: -11px;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}

.align-end {
    align-items: end;
}

.align-flex-start {
    align-items: flex-start;
}

.align-right {
    align-items: right;
}

.align-left {
    align-items: left;
}

.align-self-center {
    align-self: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: start;
}

.justify-end {
    justify-content: end;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-around {
    justify-content: space-around;
}

.z-1 {
    z-index: 1;
}

.m-1 {
    margin: 1rem;
}

.rotate-0 {
    transform: rotate(0deg);
}

.rotate-90 {
    transform: rotate(90deg);
}

.rotate-180 {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.rotate-270 {
    transform: rotate(270deg);
}

.mt-0-5 {
    margin-top: 0.5rem;
}

.mt-0-75 {
    margin-top: 0.75rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-1-5 {
    margin-top: 1.5rem;
}

.mt-1-75 {
    margin-top: 1.75rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-2-125 {
    margin-top: 2.125rem;
}

.mt-2-5 {
    margin-top: 2.5rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-0-5 {
    margin-top: 0.5rem;
}

.mt-10p {
    margin-top: 10px;
}

.mb-1-25 {
    margin-bottom: 1.25rem;
}

.mb-1-5 {
    margin-bottom: 1.5rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-0-5 {
    margin-bottom: 0.5rem;
}

.mb-0-25 {
    margin-bottom: 0.25rem;
}

.mb-0-3 {
    margin-bottom: 0.3rem;
}

.mb-10p {
    margin-bottom: 10px;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-0-75 {
    margin-left: 0.75rem;
}

.ml-0-5 {
    margin-left: 0.5rem;
}

.ml-15p {
    margin-left: 15px;
}

.mr-0-5 {
    margin-right: 0.5rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-5p {
    margin-right: 5px;
}

.mx-0-25 {
    margin: 0 0.25rem;
}

.mx-2-125 {
    margin: 0 2.125rem;
}

.my-1-5 {
    margin: 1.5rem 0;
}

.my-2-125 {
    margin: 2.125rem 0;
}

.p-0 {
    padding: 0 !important;
}

.p-0-25 {
    padding: 0.25rem;
}

.p-0-5 {
    padding: 0.5rem;
}

.p-0-75 {
    padding: 0.75rem;
}

.p-0-875 {
    padding: 0.875rem;
}

.p-1 {
    padding: 1rem;
}

.p-1-4 {
    padding: 1.4rem;
}

.p-1-5 {
    padding: 1.5rem;
}

.p-1-75 {
    padding: 1.75rem;
}

.p-1-875 {
    padding: 1.875rem;
}

.p-2 {
    padding: 2rem;
}

.p-2-5 {
    padding: 2.5rem;
}

.p-3 {
    padding: 3rem;
}

.p-4 {
    padding: 4rem;
}

.pt-0-5 {
    padding-top: 0.5rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pl-0-5 {
    padding-left: 0.5rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pl-2-5 {
    padding-left: 2.5rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pb-100 {
    padding-bottom: 100%;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pb-4 {
    padding-bottom: 4rem;
}

.pr-0-5 {
    padding-right: 0.5rem;
}

.pr-0-25 {
    padding-right: 0.25rem;
}

.px-0-25 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.px-0-5 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.px-0-75 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.px-4 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.py-0-25 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.py-0-5 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.opacity-100 {
    opacity: 1;
}

.opacity-80 {
    opacity: 0.8;
}

.opacity-70 {
    opacity: 0.7;
}

.opacity-60 {
    opacity: 0.6;
}

.fs-0-25 {
    font-size: 0.25rem;
}

.fs-0-5 {
    font-size: 0.5rem;
}

.fs-0-625 {
    font-size: 0.625rem;
}

.fs-0-75 {
    font-size: 0.75rem;
}

.fs-0-875 {
    font-size: 0.875rem;
}

.fs-1 {
    font-size: 1rem;
}

.fs-1-125 {
    font-size: 1.125rem;
}

.fs-1-25 {
    font-size: 1.25rem;
}

.fs-1-5 {
    font-size: 1.5rem;
}

.fs-1-75 {
    font-size: 1.75rem;
}

.fs-2 {
    font-size: 2rem;
}

.fs-2-375 {
    font-size: 2.375rem;
}

.fs-2-5 {
    font-size: 2.5rem;
}

.fs-3-5 {
    font-size: 3.5rem;
}

.fs-5 {
    font-size: 5rem;
}

.fs-7-5 {
    font-size: 7.5rem;
}

.fs-9-5 {
    font-size: 9.5rem;
}

.lh-15p {
    line-height: 15px;
}

.lh-22-5p {
    line-height: 22.5px;
}

.lh-30p {
    line-height: 30px;
}

.lh-125 {
    line-height: 125%;
}

.fs-2-25 {
    font-size: 2.25rem;
}

.fs-2-5 {
    font-size: 2.5rem;
}

.fs-2-75 {
    font-size: 2.75rem;
}

.fs-3 {
    font-size: 3rem;
}

.fs-3-25 {
    font-size: 3.25rem;
}

.fs-3-5 {
    font-size: 3.5rem;
}

.fs-3-75 {
    font-size: 3.75rem;
}

.fs-4 {
    font-size: 4rem;
}

.lh-125 {
    line-height: 125%;
}

.fw-100 {
    font-weight: 100;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-900 {
    font-weight: 900;
}

.fw-bold {
    font-weight: bold;
}

.f-italic {
    font-style: oblique;
}

.fc-primary {
    color: var(--primary);
}

.fc-secondary {
    color: var(--secondary);
}

.fc-inherit {
    color: inherit;
}

.fc-black {
    color: #000;
}

.fc-error {
    color: #ff3d3d;
}

.fc-red {
    color: #ff4c4c;
}

.fc-white {
    color: #fff;
}

.fc-white-0-5 {
    color: rgba($color: #fff, $alpha: 0.5);
}

.fc-white-06 {
    color: rgba($color: #fff, $alpha: 0.6);
}

.fc-white-0-7 {
    color: rgba($color: #fff, $alpha: 0.7);
}

.fc-white-0-8 {
    color: rgba($color: #fff, $alpha: 0.8);
}

.fc-grey {
    color: var(--font-color-grey);
}

.ts-white {
    text-shadow:
        0.125px 0 #fff,
        -0.125px 0 #fff,
        0 0.125px #fff,
        0 -0.125px #fff;
}

.bg-transparent {
    background: transparent;
}

.bg-white-0-1 {
    background: rgba(255, 255, 255, 0.1);
}

.bg-white-0-15 {
    background: rgba(255, 255, 255, 0.15);
}

.bg-white-0-2 {
    background: rgba(255, 255, 255, 0.2);
}

.bg-black {
    background: #111111;
}

.bg-black-0-15 {
    background: rgba(0, 0, 0, 0.15);
}

.bg-black-0-2 {
    background: rgba(0, 0, 0, 0.2);
}

.bg-green-0-15 {
    background: rgba(22, 251, 59, 0.15);
}

.bg-red-0-4 {
    background: rgba(102, 0, 0, 0.4);
}

.bg-shadow {
    background: var(--background-shadow-color);
}

.ts-0x-0y-3b-scs {
    text-shadow: 0px 0px 3px var(--text-shadow-color-secondary);
}

.ellipsis,
.ellipsis-vertical {
    text-overflow: ellipsis;
    overflow: hidden;
}

.spaces-nowrap {
    white-space: nowrap;
}

.ellipsis {
    white-space: nowrap;
}

.ellipsis-vertical {
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.ellipsis-vertical.ellipsis-line-1 {
    -webkit-line-clamp: 1;
}

.ellipsis-vertical.ellipsis-line-2 {
    -webkit-line-clamp: 2;
}

.ellipsis-vertical.ellipsis-line-3 {
    -webkit-line-clamp: 3;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-capitalize-first:first-letter {
    text-transform: capitalize;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-right {
    text-align: right;
}

.text-start {
    text-align: start;
}

.text-end {
    text-align: end;
}

.text-underline {
    text-decoration: underline;
}

.vertical-divisor {
    width: 1px;
    height: 100%;
    background-color: #fff;
}

.backdrop-filter-60 {
    -webkit-backdrop-filter: blur(60px);
    backdrop-filter: blur(60px);
}

.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-y-auto {
    overflow-y: auto;
}

.border-radius-2 {
    border-radius: 2rem;
}

.border-radius-50 {
    border-radius: 50%;
}

.border-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.box-hover {
    cursor: pointer;
    padding: 0.25rem 1rem;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.border-0 {
    border: unset !important;
}

.border-1-white {
    border: 1px solid #fff;
}

.border-1-white-06 {
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.border-1-primary {
    border: 1px solid var(--primary);
}

.border-b-1-white {
    border-bottom: 1px solid #fff;
}

.outline-none {
    outline: none;
}

.resize-none {
    resize: none;
}

.pointer {
    cursor: pointer;
}

.pe-auto {
    pointer-events: auto;
}

.pe-none {
    pointer-events: none;
}

.pe-initial {
    pointer-events: initial;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.blur-0-2 {
    filter: blur(0.2px);
}

.blur-0-5 {
    filter: blur(0.5px);
}

.fit-contain {
    object-fit: contain;
}
