@import "styles/animations.scss";
@import "styles/utilities.scss";
@import "styles/variables.scss";

@import "@picocss/pico/scss/pico";

body {
    overflow: hidden;
}
a {
    text-decoration: unset;
    color: unset;
}

#frame {
    overflow: hidden;
    background-image: url("assets/images/food-cubes.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outline:hover {
    background-color: $primary-500;
    color: white;
}


.primary {
    color: $primary-500;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

@media (max-width: 768px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}


